<header class="header">
<nav class="navbar">
<a href="<%= categories_path %>">
  <img alt="Somesplash_logo" src="https://i.ibb.co/h22BWZQ/image-11.png">
</a>
<button class="button" style="margin-right: 2rem">SEARCH</button>
<nav>
</header>