.container-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.photodetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.image{

}
.Comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}