<div class="px-4 w-mid">
  <h1 class="text-3xl font-semibold">Edit Categories</h1>

  <%= render "form", category: @category %>
  <%= link_to "BACK", categories_path,class: "mt-4 flex items-center justify-center bg-gray-200 w-full p-1 rounded" %>
</div>